<ion-content>
  <ion-card>
    <ion-item>
      <ion-thumbnail >
        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAAAAAAALAAAAAABAAEAAAICTAEAOw==">
      </ion-thumbnail>
      <ion-label>
        <h2> H2 Title Text</h2>
        <p> Button on right</p>
      </ion-label>
      <button ion-button (click)="play()">play</button>
    </ion-item>
    </ion-card>
    <ion-searchbar
    [(ngModel)]="searchTerm"
    (ionChange)="setFilteredItems()"
    ></ion-searchbar>
    
    <ion-list>
    <ion-item *ngFor="let item of items">
      {{ item.title }}
    </ion-item>
    </ion-list>    
</ion-content>